@import url(./nav.css);
@import url(./footer.css);

.page-background {
    background-color: #e4e4e7;
}

.table-accent-color {
    color: #69BA5E;
}

.news-scroll-container {
    overflow: hidden;
}

.news-scroll-text {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);

    -moz-animation: news-scroll-animation 5s linear infinite;
    -webkit-animation: news-scroll-animation 5s linear infinite;
    animation: news-scroll-animation 5s linear infinite;
}

.news-scroll-text:hover {
    animation-play-state: paused;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 0;
}

@-webkit-keyframes news-scroll-animation {
    from {
        -webkit-transform: translateY(100%);
    }

    to {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes news-scroll-animation {
    from {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@media (max-width: 630px) {
    .nav-hide {
        display: none;
    }

}

/* Custom Table css */

.table>tbody>tr:last-child {
    border-color: white !important;
}

.email_links,
.links {
    color: #333;
    text-decoration: none;

}

.email_links:hover,
.links:hover {
    color: #167718;
}

.text-school-bus-yellow-white {
    color: #f4d03f;
}

.breadcrumb-classic.list-breadcrumb {
    display: inline-block;
    padding: 12px 15px 10px;
    font-size: 12px;
    background-color: #19d45b;
}

.breadcrumb-classic .list-breadcrumb a {
    color: rgb(6, 5, 5);

}

.breadcrumb-classic .list-breadcrumb>li {
    margin-left: 7px;
    display: inline-block;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: rgb(20, 17, 17);

}

.breadcrumb-classic .list-breadcrumb>li+li:before {
    content: '/';
    margin-right: 9px;
    color: rgba(2, 2, 3, 0.2);
}

@media (min-width: 480px) {
    .breadcrumb-classic .list-breadcrumb {
        padding: 12px 22px 10px;
        letter-spacing: .340em;
        margin-left: 12px;
        margin-right: 15px;
    }

}

.shell,
.shell-wide {
    min-width: 1225px;
    max-width: 1225px;
    background-color: #21d661;
}

.shell,
.shell-wide,
.shell-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}